*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
}


body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}





/* CONFIGURANDO LA SIDEBAR*/
.sidebar{
    position:fixed;
    top: 0; 
    left: 0;
    height: 100%; 
    width: 78px;
    background-color: rgb(228, 228, 228, 0.5); /*Ajustando el color del sidebar y creando una transparencia para darle un toque más elegante*/
    padding: 6px 14px;
    transition: all 0.5s ease; /*OJO: debería haber una animacion, sin embargo no sé por qué no funciona la animación (arreglar)*/
}

/* ESTO HARÁ QUE SE PONGA MÁS ANCHO CUANDO SE LE DE CLICK AL ICONO*/
.sidebar.active{
    width: 240px;


}
.sidebar .logo_content .logo{
    color: black;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;

}

.logo_content .logo i{
    font-size: 28px;
    margin-right:5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}


/* BOTON QUE MINIMIZA EL MENU */
.sidebar #btn{
    position: absolute;
    color: black;
    cursor: pointer;
    left: 50%; /* eso hace que el boton esté centrado cuando no se esté expandiendo.*/
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height:50px;
    transform: translateX(-50%);

}

/* ESTO HACE QUE EL BOTON SE MUEVA  CUANDO DESPLEGAMOS EL SIDEBAR  */
.sidebar.active #btn{
    left: 90%;

}


.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
    line-height: 50px;
    border-radius: 12px;
}

/* SE CONFIGURA EL TOOL TIP */
.sidebar ul li .tooltip{
    position:absolute;
    left: 70px;
    top:0;
    transform: translateY(-50%);
    border-radius: 6px;
    background-color: #fff;
    height: 35px;
    width: 122px;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: all 0s ease;
    opacity:0;
    pointer-events: none;
    display: block;
    
}

.sidebar ul li .tooltip::before {
    content: "";
    position: absolute;
    left: -11px; /* Esta propiedad alinea la flecha */
    top: 50%;
    transform: translateY(-50%);
    border-width: 7px;
    border-style: solid;
    border-color: transparent #ffffff transparent transparent; /* Color de la flecha apuntando a la izquierda */
}

/* CUANDO EL SIDEBAR ESTÉ EXPANDIDO SE DESACTIVA EL TOOLTIP */
.sidebar.active ul li .tooltip{
    display: none;
}

/* CON ESTO SE CONFIGURA EL TOOLTIP CUANDO HAGAMOS HOVER */
.sidebar ul li:hover .tooltip{
    top: 50%;
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left:0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
}


.sidebar ul li a{
    color: black;
    display: flex;
    align-items: center; /* con el display flex el logo queda un poco más arriba, sin embargo gracias a align-items queda uno al lado del otro*/
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}


.sidebar ul li a:hover{
    background: rgba(145, 140, 140, 0.5);

}


.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name {
    transition: all 0.2s ease;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto
}

/* AJUSTE DE PERFIL*/

.sidebar .profile_content{
    position:absolute;
    color: black;
    bottom: 0;
    left: 0;
    width: 100%;
}


.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background-color: rgba(216, 224, 224, 0.1); /* Se crea un contraste entre el menu y el perfil */
}


.profile_content .profile_details:hover{
    background: rgba(145, 140, 140, 0.5);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade esta línea para la sombra */
}


.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none; 
    padding-left: 5px; /*esto hace que cuando haga el hover haya un poco más de espacio */
    padding-top: 2px;
    transition: 0.3s ease;
}



/* SE MUESTRA TODA LA INFORMACION DEL USUARIO CUANDO SE EXPOANDE EL MENU */
.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto; 
}

.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}



.profile .profile_details .name_job{ /*Cambiar el nombre del clase*/
    margin-left: 10px;
    transition: all 0.5s ease;

}

.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
    transition: all 0.5s ease;

}

.profile .profile_details .job{
    font-size: 12px;
}


/*CONFIGURANDO EL BOTON DE LOG OUT */
.profile #log_out{
    position: absolute; /* Más adelante pienso cambiarlo y ponerlo en settings.*/
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
}

/* más adelante esto se va a cambiar por un boton que tenga como funcion cambiar de plan*/
.sidebar.active .profile #log_out{
    left:88%;
}



